.grid.initial-flip .card .front {
  transform: rotateY(0deg);
  transition: all 0.2s ease-in;
}

.grid.initial-flip .card .back {
  transform: rotateY(90deg);
  transition: all 0.2s ease-in;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transition-delay: 0.2s;
  transform: rotate(0deg);
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
